/Adobe_Premiere_Pro_v23.2.0.69.rar
/Anmol ja va
/Audio_DriverOnly_DTS_DCH_Realtek_Z_V6.0.9231.1_24321.exe
/Audio_DriverOnly_DTS_DCH_Realtek_Z_V6.0.9231.1_24321.zip
/Brave.lnk
/BST-Anmol Tomar 590019134
/Car_Price_Prediction-main
/ClassroomWork
/desktop.ini
/Dev-C++.lnk
/Eclipse IDE for Java Developers - 2022-06.lnk
/GitHub Desktop.lnk
/Google Chrome.lnk
/KnowledgeCentre
/math_assign_3.txt
/Microsoft Edge.lnk
/ML Notes
/PC Health Check.lnk
/RAR Opener.lnk
/Screen Recorder
/Spotify.lnk
/web development project